.page{
    /* position: relative; */
    /* top:64px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
}

.shop{
    background-color: white;
    background-image: linear-gradient(45deg, #dedede 25%, #e8e8e8 25%, #e8e8e8 50%, #dedede 50%, #dedede 75%, #e8e8e8 75%, #e8e8e8 100%);
    background-size: 42.43px 42.43px;
    min-height: 900px;
    height: 100vh;
}

.text{
    background-color: rgba(43, 43, 43, 0.712);
    padding: 10px;
    margin: 0;
    
    
}

.shop-item{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 200px;
    width:30%;
    margin: 10px;
    box-shadow: 5px 3px 15px 2px grey;
    cursor: pointer;
}
.shop-item-text{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 109, 0.265);
    width: 90%;
    height: 56px;
}

.quantity-row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity-row > div{
    width: initial;
}

.input-fields{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.DropDown-root-106{
    justify-content: center;
}
/* engraving text */

.MuiInputBase-input{
    color:white !important;
    border:0 !important;
}

.dum > .MuiFormControl-root{
    width: 180px !important;
    margin-left: 10px;
}

.shop-modal{
    
    width: 80vw;
    height: 80vh;
    background-image: linear-gradient(to bottom right, rgb(3, 31, 82), rgb(64, 111, 199));
    box-shadow: 2px 5px 10px 5px rgb(39, 50, 73);
    position: absolute;
    border-radius: 10px;
    /* border: solid 1px rgb(99, 98, 98); */
    /* left: 10vw; */
    /* top: 64px; */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.shop-modal > * {
    /* border-bottom: solid 1px rgb(58, 58, 58); */
    /* margin: 10px 0; */
    padding: 10px 0;
   
}
.block{
    padding: 10px;
    display: block;
    width: 100%;
}

/* engraving text */

/* .MuiFormLabel-root-149{
    color: white !important;
}

.MuiInputBase-input-179{
    color: white !important;
}

.MuiOutlinedInput-root-156 .MuiOutlinedInput-notchedOutline-163 {
    border-color: white !important;
}

.MuiTypography-colorTextSecondary-95{
    color: white !important;
}

.MuiInput-underline-192:after{
    border-bottom: solid 2px #1E7C1B !important;
} */

.model-image{
    padding: 0;
    /* max-width: 500px; */
    max-width: 720px;
    height: 420px;
    /* border: 1px solid black; */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

.color-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.color-choice{
    width: 42px;
    height: 42px;
    cursor: pointer;
  

}

.unfinished{
    background-color: beige;
}
.black{
    background-color: rgb(0, 0, 0);
}
.charcoal{
    background-color: rgb(90, 90, 90);
}
.mahogany{
    background-color: #521311;
}
.forest-green{
    background-color: rgb(16, 66, 14);
}
.navy-blue{
    background-color: #00006D;
}
.royal-blue{
    background-color: #334FDA;
}
.white-stain{
    background-color: whitesmoke;
}
.pink{
    background-color: rgb(255, 94, 134);
}

.shop-selection{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    max-width: 900px;
    
}

.model-image{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 700px;
    
   
}

.shop-model{
 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 20px; */
    /* height: 100px; */
    
}

.shop-model > div{
    padding: 5px;
}

@media only screen and (min-width: 769px) {
    .shop-modal{
    
        width: 800px;
        height: 800px;
        position: absolute;
        border-radius: 10px;
        /* border: solid 1px rgb(99, 98, 98); */
        /* left: 10vw; */
        /* top: 64px; */
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .shop-model{
        position: absolute;
        top: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.562);
        width: 250px;
        border-radius: 10px;
        border-bottom: rgb(0, 230, 103) solid 5px;
        /* padding: 20px; */
        /* height: 100px; */
        
    }

    .wide{
        width: 500px;
    }

    .color-bar-box{
        width: 600px;
    }

    .color-choice {
        width: 66px;
        height: 42px;
    }
  }